:root{
    --blue: #99ccff;
    --black: #000;
    --white: #fff;
    --yellow: #ffff00;
}

* {
    font-family: "Gill Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.navbar {
    background-color: var(--black);
    padding: 1rem calc((100vw - 1200px) / 2);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar_logo{
    color: var(--white);
    padding: 0rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    border: 5px solid white;
    border-radius: 15px;
    line-height: 1.5;
}

.navbar_link{
    color: var(--white);
    padding: 0rem 2rem;
    text-decoration: none;
    padding: 0rem 1.5rem;
}

.navbar_link:hover{
    color: var(--blue);
}

@media screen and (max-width: 770px){
    body.active{
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .navbar_link{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar_menu{
        width: 100%;
        top: -1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
        position: absolute;
    }

    .navbar_menu.active{
        top: 100%;
        opacity: 1;
        height: 100vh;
        z-index: 99;
        font-size: 1.5rem;
        background-color: var(--black);
    }

    .navbar_toggle .bar{
        background-color: var(--white);
        width: 30px;
        height: 4px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        display: block;
        cursor: pointer;
    }

    #toggle-menu{
        position: absolute;
        top: 15%;
        right: 5%;
        transform: translate(5%, 15%);
    }

    #toggle-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #toggle-menu.is-active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }

    #toggle-menu.is-active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
  }
}

/* Hero */
.hero{
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1)), url('./images/facility-1.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem calc((100vw - 1200px) / 2);
}

.hero_content{
    color: var(--white);
    padding: 3rem 1rem;
    line-height: 1;
}

.hero_content h1{
    font-size: clamp(3rem, 8vw, 7rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.hero_content p{
    font-size: clamp(1rem, 4vw, 2.5rem);
    font-style: italic;
    margin-bottom: 2.5rem;
}

.button{
    border: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: 0.3s ease;
    border-radius: 4px;
}

.button:hover{
    background-color: var(--black);
}

/* Services */
.services{
    padding: 8rem calc((100vw - 1200px) / 2);
}

.services_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.services_img{
    height: 100%;
    width: 100%;
}

.topline{
    color: var(--blue);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-decoration: underline;
}

.services_heading{
    font-size: clamp(2rem, 6vw, 3rem);
    margin-top: 1rem;
}

.services_features{
    list-style: none;
    margin-bottom: 0.5rem;
}

.services_feature{
    font-size: clamp(1rem, 5vw, 1.3rem);
    margin-top: 0.5rem;
}

.fa-check-circle{
    color: var(--blue);
    margin-right: 0.5rem;
}

@media screen and (max-width: 770px){
    .services_container{
        grid-template-columns: 1fr;
    }
}

/* Membership */
.membership{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 6rem calc((100vw - 1200px) / 2);
}

.membership h1{
    margin-bottom: 1rem;
    font-size: clamp(2rem, 5vw, 3rem);
    padding: 0 1rem;
}

.membership_promo{
    margin-bottom: 2.5rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    padding: 1rem;
}

.membership_wrapper{
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding: 1rem;
}

.membership_card{
    background: var(--white);
    color: var(--black);
    min-height: 450px;
    width: 325px;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.membership_card h3{
    font-size: clamp(1rem, 5vw, 2rem);
    margin-bottom: 2rem;
}

.membership_card p{
    margin-bottom: 1rem;
}

.membership_desc{
    min-height: 150px;
}

.card-icon{
    margin-bottom: 2rem;
    font-size: 4rem;
    color: var(--blue);
}

@media screen and (max-width: 1100px){
    .membership_wrapper{
        align-items: center;
        flex-direction: column;
    }

    .membership_card{
        width: 90%;
        margin-bottom: 2rem;
    }
}